PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_1MD2dGyREZSY@ep-odd-river-axkhzzry-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=8b1a38ba4fb7af401bda8ae576ec5200ec4cd92175685ef483199bca05c302b5a8d777537e4fe5d2deecb157e258ef538b4dc6f40cbaddae77195777331cc2bd
CLIENT_URL=http://localhost:5173